kaggle 
kagglehub 
xgboost 
pandas 
matplotlib 
seaborn 
scikit-learn 
numpy 
fastapi 
uvicorn 
streamlit 
openai 
langchain 
langgraph 
langchain-openai 
langchain-chroma 
langchain-ollama 
python-dotenv 
pydantic 
requests 
joblib 
shap 
ipywidgets 
uv